<h1>Sign Up Below</h1>

<style>
  h5 {
    color: red;
  }
</style>

{% for message in messages %}
<h5>{{message}}</h5>
{% endfor %}

<form method="POST" action="register">
  {% csrf_token %}
  <label for="username">Username</label><br />
  <input type="text" name="username" /><br /><br />

  <label for="email">Email</label><br />
  <input type="email" name="email" /><br /><br />

  <label for="password">Password</label><br />
  <input type="password" name="password" /><br /><br />

  <label for="password2">Repeat Password</label><br />
  <input type="password" name="password2" /><br /><br />

  <input type="submit" />
</form>
